$black: #3C3D31;
$mint: #84FAB0;
$skyblue: #8FD3F4;
$slate: #8892B0;
$medium-slate: #A8B2D1;
$light-slate: #CCD6F6;
$white: #F2F2F2;
$body-text: #DBDBDB;

$mobile-devices: '(pointer: coarse)';

// FONTS
$serif: 'Merriweather', serif;
$sans-serif: 'Nunito', sans-serif;

// BREAKPOINTS
$bp5: 'min-width: 575px';